@import "style.css";

.header-banner {
  max-height: 400px;
  object-position: 100% 0%;
}
h1 {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 700;
  margin: 3rem 0;
  text-align: center;
}
.cards-aboutUs {
  padding: 1rem 2rem;
  margin: 1rem 0;
  width: 100%;
}
.card-aboutUs-right {
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0 3px 6px grey;
  color: var(--whiteText);
  margin-left: auto;
  margin-bottom: 3rem;
  padding: 2.5rem 2rem;
  position: relative;
  width: 80%;
  z-index: -1;
}
.card-aboutUs-left {
  background-color: var(--primaryHover);
  border-radius: 10px;
  box-shadow: 0 3px 6px grey;
  color: var(--whiteText);
  margin-right: auto;
  margin-bottom: 3rem;
  padding: 2.5rem 2rem;
  position: relative;
  width: 80%;
  z-index: -1;
}
.picture-right {
  border: 3px solid var(--primaryHover);
  border-radius: 50%;
  height: 70px;
  position: absolute;
  top: -25px;
  right: -25px;
  width: 70px;
}
.picture-left {
  border: 3px solid var(--primary);
  border-radius: 50%;
  height: 70px;
  position: absolute;
  top: -25px;
  left: -25px;
  width: 70px;
}
.winnie-picture {
  background-image: url(../img/tedfriendrequest.jpg);
  background-size: 250%;
  background-position: 24% 50%;
  background-repeat: no-repeat;
}
.ted-picture {
  background-image: url(../img/test.jpg);
  background-size: 200%;
  background-position: 47% 30%;
  background-repeat: no-repeat;
}
.twinky-picture {
  background-image: url(../img/ted-hero-banner.jpg);
  background-size: 250%;
  background-position: 70% 30%;
  background-repeat: no-repeat;
}
.bubsy-picture {
  background-image: url(../img/parties/concert.jpg);
  background-size: 550%;
  background-position: 42% 0%;
  background-repeat: no-repeat;
}
.comment {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.comment span {
  margin-right: 0.5rem;
}
.stars-comment img {
  height: 15px;
  width: 15px;
}
.date {
  display: inline-block;
  font-weight: 700;
  margin-top: 0.5rem;
}
.insult-button-container {
  margin: 2rem 0;
  text-align: center;
}
.insultButton {
  background-color: var(--primary);
  border: 0;
  outline: none;
  border-radius: 5px;
  color: var(--whiteText);
  font-weight: 700;
  padding: 0.6rem 1rem;
  transition: 200ms;
}
.insultButton:hover {
  background-color: var(--primaryHover);
  cursor: pointer;
}
.insultButton:active {
  transform: scale(0.95);
}
@media (min-width: 799px) {
  .navAboutUs {
    border-bottom: 2px solid var(--primary);
  }
  .cards-aboutUs {
    padding: 1rem 2rem;
    margin: 2rem auto;
    width: 80%;
  }
  h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1300px) {
  .card-aboutUs-right {
    margin-left: auto;
    width: 60%;
    z-index: -1;
  }
  .card-aboutUs-left {
    margin-right: auto;
    width: 60%;
    z-index: -1;
  }
}
