@import "style.css";

@keyframes pumping {
  0% {
    text-shadow: none;
  }
  20% {
    text-shadow: none;
  }

  50% {
    text-shadow: 0 0 24px #fff900, 0 0 50px #ff6c00;
  }
  75% {
    text-shadow: 0 0 24px #fff900, 0 0 50px #ff6c00;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes flash {
  0% {
    color: var(--primary);
    text-shadow: none;
  }
  90% {
    color: var(--primary);
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 25px #fff900, 0 0 50px #ff6c00;
  }
}


@keyframes earthquake {
    0% {
        background-color: var(--closeButton);
        transform: translateX(2%);
    }
    25% {
        transform: translateX(-2%);
    }
    50% {
      transform: translateX(2%);
    }
    75% {
        transform: translateX(-2%);
    }
    100% {
        background-color: var(--lighteningOrange);
        transform: translateX(2%);
    }
}
