@import "style.css";

/*********PARALLAX*******/

.parallax {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax p {
  animation: pumping 2s ease-in-out infinite;
  font-size: 0.9rem;
  color: white;
  line-height: 150%;
  font-weight: bold;
}
.parallax span {
  display: block;
  font-size: 0.8rem;
  line-height: 150%;
  font-weight: bold;
  color: white;
  animation: pumping 2s ease-in-out infinite;
}

@media (min-width: 425px) {
  
  .parallax p {
    font-size: 1.2rem;
  }
  .parallax span {
    font-size: 1.2rem;
  }
}
@media (min-width: 625px) {
  .parallax p {
    font-size: 1.7rem;
  }
  .parallax span {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .active {
    border-bottom: var(--primary) solid 2px;
  }
  .active:hover {
    border-bottom: var(--primaryHover) solid 2px;
  }
  .parallax p {
    font-size: 2rem;
  }
  .parallax span {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .parallax p {
    font-size: 2.8rem;
  }
  .parallax span {
    font-size: 2.8rem;
  }
}

/*********TARIFS CARDS****** */

#tarifs {
  padding-bottom: 150px;
}
#tarifs h1 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary);
  line-height: 150%;
  font-weight: bold;
  margin: 50px 0 20px;
  padding: 0 30px;
  animation: pumping 2s ease-in-out infinite;
}

.tarifs-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carte-tarif {
  width: 350px;
  height: auto;
  margin: 15px 15px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all o.2s ease-in-out;
  position: relative;
  z-index: 0;
  padding-bottom: 1px;
  background: var(--backgroundText);
  transition: all 0.4s ease-in-out;
}
.carte-tarif:hover {
  box-shadow: 0 0 24px #fff900, 0 0 50px #ff6c00;
}
.carte-tarif h4 {
  text-align: center;
  padding: 25px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
  background: #4f934f;
}
.carte-tarif span {
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 25px;
  font-weight: bold;
}
.carte-tarif:nth-child(2) h4 {
  background: var(--lighteningOrange);
}
.carte-tarif:nth-child(3) h4 {
  background: var(--closeButton);
}
.carte-tarif p {
  font-size: 18px;
  padding: 20px 10px;
  border-top: 1px solid rgb(194, 197, 194);
}
.carte-tarif p:last-of-type {
  border-bottom: 1px solid rgb(194, 197, 194);
}
.carte-tarif p:nth-child(odd) {
  background: rgba(195, 195, 195, 0.219);
}
.carte3 a {
  margin-bottom: 120px;
}
.carte-tarif a {
  display: block;
  text-decoration: none;
  border: 2px solid #f1f1f1;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 9999px;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  margin: 20px auto;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(255, 108, 0, 1) 50%,
    rgb(255, 249, 0, 1)
  );
  background-size: 200%;
  transition: all 0.4s ease-in-out;
}
.carte-tarif a:hover {
  background-position: 100%;
  color: black;
  border: 2px solid black;
}
.carte1 {
  display: none;
}
.carte2 {
  display: none;
}
.carte3 {
  display: none;
}

@media (min-width: 425px) {
  .carte-tarif h4 {
    font-size: 1.7rem;
  }
  #tarifs h1 {
    font-size: 1.7rem;
    margin:  0 0 20px;
  }
}
@media (min-width: 625px) {
  .carte-tarif h4 {
    font-size: 1.9rem;
  }
  #tarifs h1 {
    font-size: 1.9rem;
    margin:  0 0 20px;
  }
}

@media (min-width: 768px) {
  .carte-tarif h4 {
    font-size: 2.2rem;
  }
  #tarifs h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  #tarifs h1 {
    font-size: 2.5rem;
  }
}

/* ****VISIBLE INVISIBLE******** */
.carte1.is-visible {
  display: block;
}
.carte1.is-invisible {
  display: none;
}

.carte2.is-visible {
  display: block;
}
.carte2.is-invisible {
  display: none;
}

.carte3.is-visible {
  display: block;
}
.carte3.is-invisible {
  display: none;
}

@media (min-width: 768px) {
  div.carte1 {
    display: block;
  }
  div.carte2 {
    display: block;
  }
  div.carte3 {
    display: block;
  }
}

/* *******CONTACT****** */
.section-contact h1 {
  text-align: center;
  font-size: 1rem;
  color: var(--primary);
  line-height: 150%;
  font-weight: bold;
  margin: 50px 0 40px;
  padding: 0 30px;
  text-shadow: 0 0 24px #fff900, 0 0 50px #ff6c00;
}
.section-contact {
  margin-top: 50px;
  padding-bottom: 100px;
}
.section-contact h2 {
  text-align: center;
  color: var(--primary);
  font-size: 48px;
  font-weight: 400px;
  margin-bottom: 50px;
  padding: 70px 0 0 0;
}

.container-form {
  margin: 0 auto;
  width: 90%;
  background: var(--backgroundText);
  border-radius: 20px;
  padding: 10%;
  box-shadow: 0 0 24px #fff900, 0 0 50px #ff6c00;
}
.form-groupe {
  position: relative;
  margin-bottom: 45px;
}
.form-groupe label {
  color: var(--primary);
  font-size: 20px;
  font-weight: bold;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.39);
  font-size: 1em;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 3px solid #aaa;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
.form-groupe input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  font-size: 25px;
  color: BLACK;
  font-weight: bold;
}
textarea {
  width: 100%;
  height: 200px;
  border: none;
  border: 3px solid #aaa;
  border-radius: 5px;
  resize: none;
  outline: none;
  font-size: 20px;
  background: #f1f1f1;
}
.form-groupe:nth-child(4) {
  margin-bottom: 25px;
}
.form-groupe .button-sub {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid #f1f1f1;
  border-radius: 9999px;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(255, 108, 0, 1) 50%,
    rgb(255, 249, 0, 1)
  );
  background-size: 200%;
  color: #f1f1f1;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.form-groupe .button-sub:hover {
  color: black;
  background-position: 100%;
  border: 3px solid black;
}

@media (min-width: 425px) {
  .form-groupe .button-sub {
    font-size: 1.7rem;
  }
  .section-contact h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .form-groupe .button-sub {
    font-size: 1.7rem;
  }
  .container-form {
    width: 80%;
  }
  .section-contact h1 {
    font-size: 1.7rem;
  }
}
@media (min-width: 1024px) {
  .form-groupe .button-sub {
    font-size: 2.2rem;
  }
  .container-form {
    width: 70%;
  }
  .section-contact h1 {
    font-size: 2.5rem;
  }
}

/* **********light title******* */

.light-title ul {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  top: 30%;
}
.light-title ul li {
  display: inline-block;
  list-style-type: none;
  color: var(--primary);
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.5em;
  animation: flash 1.4s linear infinite;
}

@keyframes flash {
  0% {
    color: var(--primary);
    text-shadow: none;
  }
  90% {
    color: var(--primary);
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 25px #fff900, 0 0 50px #ff6c00;
  }
}

.light-title ul li:nth-child(1) {
  animation-delay: 0.1s;
}
.light-title ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.light-title ul li:nth-child(3) {
  animation-delay: 0.3s;
}
.light-title ul li:nth-child(4) {
  animation-delay: 0.4s;
}
.light-title ul li:nth-child(5) {
  animation-delay: 0.5s;
}
.light-title ul li:nth-child(6) {
  animation-delay: 0.6s;
}
.light-title ul li:nth-child(7) {
  animation-delay: 0.7s;
}
.light-title ul li:nth-child(8) {
  animation-delay: 0.8s;
}
.light-title ul li:nth-child(9) {
  animation-delay: 0.9s;
}
.light-title ul li:nth-child(10) {
  animation-delay: 1s;
}
.light-title ul li:nth-child(11) {
  animation-delay: 1.1s;
}

@media (min-width: 425px) {
  .light-title ul li {
    font-size: 1.1rem;
  }
}
@media (min-width: 625px) {
  .light-title ul li {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .light-title ul li {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .light-title ul li {
    font-size: 2.2rem;
  }
}
/* ********** CHECKBOX**********/
.label {
  font-size: 0.7rem;
  color: var(--primary);
  font-weight: bold;
  text-align: match-parent;
}

.check {
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  border-radius: 9999px;
  padding: 30px;
}
input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background: var(--closeButton);
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--primaryActive);
  border-radius: 20px;
  top: 0;
  left: 0;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
input[type="checkbox"]:hover::before {
  background: var(--lighteningOrange);
}
input:checked[type="checkbox"]::before {
  left: 20px;
}

@media (min-width: 425px) {
  .label {
    font-size: 1rem;
  }
  input[type="checkbox"] {
    width: 45px;
    height: 23px;
  }
  input[type="checkbox"]::before {
    width: 23px;
    height: 23px;
  }
  input:checked[type="checkbox"]::before {
    left: 23px;
  }
}
@media (min-width: 625px) {
  .label {
    font-size: 1.3rem;
  }
  input[type="checkbox"] {
    width: 50px;
    height: 25px;
  }
  input[type="checkbox"]::before {
    width: 25px;
    height: 25px;
  }
  input:checked[type="checkbox"]::before {
    left: 25px;
  }
}

@media (min-width: 768px) {
  .label {
    font-size: 1.5rem;
  }
  input[type="checkbox"] {
    width: 55px;
    height: 30px;
  }
  input[type="checkbox"]::before {
    width: 30px;
    height: 30px;
  }
  input:checked[type="checkbox"]::before {
    left: 30px;
  }
}
