@import url("style.css");

/* HERO SECTION */
#hero-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
#hero-container img{
    max-width: 400px ;
    max-height: 400px;
}
.hero-text{
    max-width: 80%;
    margin: 10rem 3rem;
}
.hero-text h1{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    
    color: var(--whiteText);
}
/* Scroll down Btn  */
.gradient-button {
    height: 5rem;
    width: 12rem;
    margin-top: 2rem;
    background: transparent linear-gradient(to top left, rgba(249,208,129,.2) 0%, rgba(227,2,62,.2) 40%, rgba(49,128,135,.2) 100%);
    border: 5px solid transparent;
    border-image-source: linear-gradient(to top left, rgba(249,208,129,1) 0%, rgba(227,2,62,1) 40%, rgba(49,128,135,1) 100%);
    border-image-slice: 1;
    transition: transform 0.25s;
    letter-spacing: .2rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary);
}
/* PRESENTATION */
#our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1rem 1rem 0rem 1rem;
}
#our-story h2{
    font-weight: 600;
    font-size: 2rem;
    
    color: var(--primary);
}
#our-story p{
    width: 80%;
    margin-top: 1rem;
    padding: 2rem;
    
    font-weight: 600;
    word-wrap: normal;
    
    border-radius: 20px;

    color:var(--primary);
    background-color: var(--backgroundText);
}
#our-story p img{
    width: 8rem;
}
/* Our Team */
#team{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    height:auto;
    margin-top: 2rem;
    padding:0rem 1rem 1rem 1rem;

    text-align: center;
}
#team h2{
    color: var(--primary);
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}
#card-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card-home{
    width: 350px;
    min-height: 400px;
    margin: 15px 15px;
    border-radius: 30px;
    
    background: url(../img/wave-o.png) no-repeat ;
    background-color: var(--backgroundText);
    background-size: 350px 200px;
    
    cursor: pointer;
}
.card-home img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: var(--primary) solid 5px;
    margin: 1rem;
    object-fit: cover;
}
.card-home h3{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
}
.underline-txt{
    text-decoration: underline ;
    font-weight: 700;
}
.card-home p{
    padding: 1rem;
    font-size: 1rem;
    text-align:left;
}
@media (min-width: 799px) {
    .active{
        border-bottom: var(--primary) solid 2px;
    }
    .active:hover{
        border-bottom: var(--primaryHover) solid 2px;
    }
    /* HERO SECTION */
    #hero-image{
        align-items: center;
    }
    .hero-text{
        max-width: 80%;
        margin: 0 6rem;
    }
    .hero-text h1{
        font-size: 3rem;
    }
}