@import url("style.css");
.black-lettering{
    color: black;
}
/* HERO SECTION */
#hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ted-hero-banner.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.hero-text{
    max-width: 80%;
    margin: 10rem 3rem;

}
.hero-text h1{
    font-size: 2rem;
    color: var(--whiteText);
    font-weight: 700;

    letter-spacing: 0.1rem;
    line-height: 3rem;
}
/* Scroll down  div */
.scroll-to-go-down{
    opacity: 0; 
    height: 0vh;
    width: 0;
}
/* PRESENTATION */
#our-story{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 1rem 1rem 0rem 1rem;
}
#our-story h2{
    color: var(--primary);
    font-weight: 600;
    font-size: 1.3rem;
}
#our-story p{
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.527);
    font-weight: 600;
    
    color: var(--secondary);
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
    word-wrap: normal;
}
#our-story p img{
    width: 8rem;
}
/* Our Team */
#team{
    padding:0rem 1rem 1rem 1rem;
    height:auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
#team h2{
    color: var(--primary);
    font-weight: 600;
    font-size: 1.3rem;
}
#card-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.card-home{
    width: 350px;
    height: auto;
    border-radius: 30px;
    margin: 15px 15px;
    cursor: pointer;
    box-shadow: -1px 16px 5px -5px rgba(171,169,169,0.31);
    -webkit-box-shadow: -1px 16px 5px -5px rgba(171,169,169,0.31);
    -moz-box-shadow: -1px 16px 5px -5px rgba(171,169,169,0.31);
    transition: all o.2s ease-in-out;

    background: url(../img/svg.png) no-repeat ;
    background-size: 350px 200px;
    

}
.card-home img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 1rem;
}
.card-home h3{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
}
.underline-txt{
    text-decoration: underline ;
}
.card-home p{
    padding: 1rem;
    font-size: 1rem;
    text-align:left;
}
@media (min-width: 799px) {
    /* HERO SECTION */
    #hero-image{
        align-items: center;
    }
    .hero-text{
        max-width: 80%;
        margin: 0 6rem;
    }
    /* SCROLL DOWN */
    .scroll-to-go-down{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: auto;
        height: auto;
        background-color: var(--primary);
        color: var(--whiteText);

        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        line-height: 1.5rem;
        letter-spacing: 0.2rem;
    
        padding: 1rem;
        transition: 1s;
        opacity: 1;;
    }
    #btn-scroll-down{
        width: 10rem;
        padding: 0.5rem;
        margin-top: 1rem;
        border: none;
        border-radius: 5px;
        font-weight: 800;
        font-size: 1rem;
    }
    #btn-scroll-down:hover{
        background-color:var(--primaryHover);
        color: var(--whiteText);
    }