@import url("style.css");



.parallax {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parallax p {
  animation: pumping 2s ease-in-out infinite;
  font-size: 0.9rem;
  color: white;
  line-height: 150%;
  font-weight: bold;
}
.parallax span {
  display: block;
  font-size: 0.8rem;
  line-height: 150%;
  font-weight: bold;
  color: white;
  animation: pumping 2s ease-in-out infinite;
}

@media (min-width: 425px) {

  .parallax span {
    font-size: 1.2rem;
  }
  .card-parties-title{
    padding-bottom: 50px;
  }
  .cards-parties-title h1 {
    font-size: 1.7rem;
    margin: 0 0 20px;
  }
}
@media (min-width: 625px) {

  .parallax span {
    font-size: 1.7rem;
  }
  .cards-parties-title h1 {
    font-size: 1.9rem;
    margin : 0 0 20px;
  }
}

@media (min-width: 768px) {
  .active {
    border-bottom: var(--primary) solid 2px;
  }
  .active:hover {
    border-bottom: var(--primaryHover) solid 2px;
  }

  .parallax span {
    font-size: 2rem;
  }
  .cards-parties-title h1 {
    font-size: 2.2rem;
  }
  .card-parties-title {
    padding-bottom:150px;
  }
}
@media (min-width: 1024px) {

  .parallax span {
    font-size: 2.8rem;
  }
  .cards-parties-title h1 {
    font-size: 2.5rem;
  }
}

.cards-parties-title h1 {
  text-align: center;
  color: var(--primary);
  line-height: 150%;
  font-weight: bold;
  margin: 0 0 20px;
  padding: 0 30px;
  animation: pumping 2s ease-in-out infinite;
}

.cards-parties-wrapper {
  text-align: center;
}

.card-party-set {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  
  border-radius: 5px;
}

.card-party-photo {
  padding: 0.5em;
  max-width: 50%;
  border-radius: 15px 15px 0 0;
}

.card-party-block {
  border-radius: 25px;
  background-color:var(--backgroundPhotoParties);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card-party-text {
  padding: 0.5em;
  font-size: 1rem;
  color: var(--primary);
  padding: 3rem;
  background-color: var(--primaryBox);
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.card-party-title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.5em;
  background-color: var(--secondaryBox);
  border-radius: 0 0 25px 25px;
}


@media (min-width: 425px) {
  .parallax p {
    font-size: 1.2rem;
  }
  .parallax span {
    font-size: 1.2rem;
  }
}
@media (min-width: 625px) {
  .parallax p {
    font-size: 1.7rem;
  }
  .parallax span {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .active {
    border-bottom: var(--primary) solid 2px;
  }
  .active:hover {
    border-bottom: var(--primaryHover) solid 2px;
  }
  .parallax p {
    font-size: 2rem;
  }
  .parallax span {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .parallax p {
    font-size: 2.8rem;
  }
  .parallax span {
    font-size: 2.8rem;
  }
}

.party-photo {
  align-content: center;
  border-radius: 15px 15px 0 0;
}

@media screen and (max-width: 799px) {
  .card-party-photo {
    min-width: 100%;
    height: 25%;
  }
  .party-photo {
    width: 100%;
  }
  .card-parties-all {
    grid-template-columns: 100%;
  }
  .card-party-set {
    display: grid;
    text-align: center;
    width: 100%;
    align-items: center;
    padding: 25px;
  }
  .card-party-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .card-party-text {
    width: 100%;
    text-align: center;
    font-weight: normal;
    margin-top: 25px;
    height: 100%;
  }
}

@media screen and (min-width: 800px) {
  .party-photo {
    width: 500px;
  }
  .navOurWork {
    border-bottom: 2px solid var(--primary);
  }
  .card-parties-all {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .card-party-set {
    display: flex;
    text-align: center;
    min-height: 400px;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
  }
  .left-party {
    flex-direction: row;
  }
  .right-party {
    flex-direction: row-reverse;
  }
  .card-party-photo {
    min-width: 60%;
  }
  .card-party-title {
    text-align: center;
    font-weight: bold;
  }
  .card-party-text {
    width: 45%;
    height: 100%;
  }
  .party-block-1 {
    transition: all 0.2s ease-in-out;
  }
  .party-block-1:hover {
    transform: rotate(-2deg) scale(1.1);
  }
  .party-block-2 {
    transition: all 0.2s ease-in-out;
  }
  .party-block-2:hover {
    transform: rotate(2deg) scale(1.1);
  }
}